<div class="row g-4 page-background">
  <div class="row g-4">
    <div class="d-flex justify-content-between">
      <!-- Daily Quests -->
      <div class="col-md-6 quest-background">
        <div class="card h-100 p-3 mt-4 guild-board">
          <div class="card-header quest-container">
            <h4 class="mt-4 quest-header">Daily Quests</h4>
            <h6 class="quest-body px-3">Take on fresh quests each day to build your routine and grow stronger. <br> Earn XP, coins, and items as rewards.</h6>
            <div class="card-body">
              <% if @daily_quests.any? %>
                <% @daily_quests.each do |quest| %>
                  <div class="mb-0">
                    <!-- Quest Title & Time -->
                    <div class="d-flex justify-content-between quest-details">
                      <h5 class="quest-body"><%= quest.title %></h5>
                      <div data-controller="date-edit">
                        <div data-date-edit-target="display"
                            data-action="click->date-edit#showInput"
                          class="d-flex justify-content-between gap-2">
                          <h5 class="quest-body"><%= quest.time.strftime("%H:%M") %></h5>
                          <h5 class="text-font" data-date-edit-target="text"></h5>
                        </div>
                        <div data-date-edit-target="input" style="display: none;">
                          <%= simple_form_for quest do |f| %>
                            <%= f.input :time, as: :time, html5: true,
                            input_html: { class: "btn btn-sm btn-outline-primary",
                                          data: { action: "keydown.enter->date-edit#checkEnter" } }
                            %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                    <!-- Quest Description & Complete Button -->
                    <div data-controller="complete">
                      <%= turbo_frame_tag quest do %>
                        <%= render partial: "daily_quests", locals: { quest: quest }%>
                      <% end %>
                      <%= render partial: "daily_modal", locals: { quest: quest }%>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <p>No daily quests yet, pick up some at the Guild!!</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <!-- Side Quests -->
      <div class="col-md-6 quest-background">
        <div class="card h-100 p-3 mt-4 guild-board">
          <div class="card-header quest-container">
            <h4 class="mt-4 quest-header">Side Quests</h4>
            <h6 class="quest-body px-3">Want some extra adventure? <br> Take on quests from fellow adventurers for bonus rewards!</h6>
            <div class="card-body">
              <% if @side_quests.any? %>
                <% @side_quests.each do |quest| %>
                  <div class="mb-0" data-controller="accept">
                    <!-- Quest Title -->
                    <div class="d-flex justify-content-between quest-details">
                      <h5 class="quest-body"><%= quest.title %></h5>
                    </div>
                    <!-- Quest Description & Complete Button -->
                    <div>
                      <%= turbo_frame_tag quest do %>
                        <%= render partial: "side_quests", locals: { quest: quest } %>
                      <% end %>
                      <%= render partial: "side_modal", locals: { quest: quest }%>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <p>No side quests yet, pick up some at the Guild!!</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= audio_tag "fanfare.mp3", id: "complete-audio" %>
</div>
