<div class="inventory-item card p-3 rounded d-flex flex-row align-items-center">
  <div class="item-image me-3">
    <%= image_tag @inventory_item.item.img, class: "img-thumbnail", alt: @inventory_item.item.name %>
  </div>

  <div class="item-details flex-grow-1">
    <h3><%= @inventory_item.item.name %></h3>
    <p>Type: <%= @inventory_item.item.item_type %></p>
    <p>Description: <%= @inventory_item.item.description %></p>
    <p>Price: <%= @inventory_item.item.price %></p>
    <p>Status: <%= @inventory_item.equipped? ? "Equipped" : "Unequipped" %></p>
  </div>

  <div class="item-action ms-3">
    <% if @inventory_item.equipped? %>
      <%= button_to "Unequip", unequip_inventory_item_path(@inventory_item), method: :patch, class: "btn btn-warning" %>
    <% else %>
      <%= button_to "Equip", equip_inventory_item_path(@inventory_item), method: :patch, class: "btn btn-success" %>
    <% end %>
  </div>
</div>
