<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <% if user_signed_in? %>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "Guild", dashboard_quests_path, class: "nav-link" %>
            <%# <%= image_tag(
                  current_user.avatar.attached? ? url_for(current_user.avatar) : "default_avatar.png",
                  class: "avatar rounded-circle me-2",
                  alt: "#{current_user.name}'s avatar"
                ) %>
        </li>
      </ul>
    <% else %>

      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
      <% end %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Character", current_user&.character.present? ? character_path(current_user.character) : new_character_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Tavern", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Store", list_items_store_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
