<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <% if user_signed_in? %>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
       <%= link_to (current_user.quests.present? ? dashboard_quests_path : new_journey_path), class: "nav-link" do %>
          <%= image_tag "guild.png", class: "me-1 nav-icon", alt: "Guild icon" %>
          Guild
        <% end %>
      </ul>
    <% else %>


    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to (current_user.quests.present? ? character_path(current_user.character) : new_journey_path), class: "nav-link" do %>
              <%= image_tag "character.png", class: "me-1 nav-icon", alt: "Character icon" %>
              Character
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to (current_user.quests.present? ? dashboard_quests_path : new_journey_path), class: "nav-link" do %>
              <%= image_tag "tavern.png", class: "me-1 nav-icon", alt: "Tavern icon" %>
              Tavern
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to (current_user.quests.present? ? list_items_store_path : new_journey_path), class: "nav-link" do %>
              <%= image_tag "store.png", class: "me-1 nav-icon", alt: "Store icon" %>
              Store
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
