<p>Create new character</p>
<div class="container" data-controller="character-preview">

  <%= simple_form_for @character do |c| %>
    <div class="col-4">
      <%= c.input :name, label:"Character name", input_html: { class: "form-control" } %>

      <%= c.input :gender, label:"Gender", 
                  collection: [["Male","Male"], ["Female","Female"]],
                  as: :radio_buttons,
                  input_html: { data: { character_preview_target: "gender", action: "character-preview#update" } } %>

      <%= c.input :class_name, label:"Class", 
                  collection: [["Warrior","Warrior"], ["Mage","Mage"], ["Archer","Archer"]],
                  as: :radio_buttons,
                  input_html: { data: { character_preview_target: "klass", action: "character-preview#update" } } %>

      <%= c.button :submit, "Create Character", class: "btn btn-primary mt-2" %>
    </div>
  <% end %>

  <div class="card mt-3" style="width: 200px; height: 200px; border:1px solid black; position: relative;">
    <canvas data-character-preview-target="canvas" width="192" height="128" 
            style="position: absolute; bottom: 0; left: 4px;"></canvas>
  </div>

</div>