<p>Create new characters</p>
<div class="container" data-controller="new-character">

  <%= simple_form_for @character do |c| %>
    <div class="col-4">
      <%= c.input :name, label:"Character name", input_html: { class: "form-control" } %>

      <%= c.input :gender, label:"Gender", input_html: { class: "form-check-input", data: { new_character_target: "gender", action: "click->new-character#render" } }, collection:[["Male", "Male"], ["Female", "Female"]], as: :radio_buttons %>

      <%= c.input :class_name, label:"Class", input_html: { class: "form-check-input", data: { new_character_target: "klass", action: "click->new-character#render" } }, collection:[["Mage", "Mage"], ["Warrior", "Warrior"], ["Archer", "Archer"]], as: :radio_buttons %>

      <%= c.button :submit, "Create Character", class: "btn btn-primary" %>
    </div>
  <% end %>

<div data-new-character-target="display" 
     class="card" 
     style="padding-left: 60px; width: 200px; height: 200px; border: none; position: relative; background: transparent;">

  <canvas id="characterCanvas" 
          width="200" height="200" 
          style="position: absolute; top: 0; left: 0;">
  </canvas>
</div>
</div>