<p>Create new characters</p>

<div class="container"
     data-controller="new-character"
     data-new-character-male-warrior-value="<%= image_path('male_warrior.png') %>"
     data-new-character-female-warrior-value="<%= image_path('female_warrior.png') %>"
     data-new-character-male-mage-value="<%= image_path('male_mage.png') %>"
     data-new-character-female-mage-value="<%= image_path('female_mage.png') %>"
     data-new-character-male-warewolf-value="<%= image_path('male_warewolf.png') %>"
     data-new-character-female-warewolf-value="<%= image_path('female_warewolf.png') %>"
     data-new-character-gorgon-value="<%= image_path('gorgon_1.png') %>">
  <div class="row d-flex align-items-start">
    <!-- Left Column: Form -->
    <div class="col-md-6">
      <%= simple_form_for @character do |c| %>
        <%= c.input :name, label: "Character name", input_html: { class: "form-control" } %>

        <%= c.input :class_name,
                    label: "Class",
                    collection: [["Mage", "Mage"], ["Warrior", "Warrior"], ["Gorgon", "Gorgon"], ["Warewolf", "Warewolf"]],
                    as: :radio_buttons,
                    input_html: {
                      class: "form-check-input",
                      data: { action: "change->new-character#render" }
                    } %>

        <%= c.input :gender,
                    label: "Gender",
                    collection: [["Male", "Male"], ["Female", "Female"]],
                    as: :radio_buttons,
                    input_html: {
                      class: "form-check-input",
                      data: {
                        action: "change->new-character#render",
                        new_character_target: "gender"
                      }
                    } %>

        <%= c.button :submit, "Create Character", class: "btn btn-primary mt-3" %>
      <% end %>
    </div>

    <!-- Right Column: Preview -->
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <div class="card"
           style="width: 200px; height: 200px; border: none; background: transparent;">
        <div id="npc-preview"
             data-new-character-target="preview"
             style="
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%) scale(2);
               transform-origin: center;
               width: 106px;
               height: 128px;
               background-repeat: no-repeat;
               background-position: 0 0;
               image-rendering: pixelated;
               pointer-events: none;
               display: none;">
        </div>
      </div>
    </div>
  </div>
</div>