


  <div class="container">

  <div class="navbar">
    <div class="nav-item">
      <%= link_to "Edit", edit_character_path, class: "nav-link" %>
    </div>
    <div class="nav-item">
      <%= link_to "Delete", @character, data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this character?' }, class: "nav-link" %>
    </div>
  </div>

    <h1><%= @character.name %></h1>
    <h2><%= @character.gender %></h2>
    <h2><%= @character.apperance %></h2>
  </div>
